[tools]
node = "22.16.0"
pnpm = "10.18.0"
python = "3.12"
uv = "0.7.10"

[tasks.export-openapi]
description = "Export Django OpenAPI schema to YAML"
run = """
cd backend && docker compose exec -T api \
bash -lc 'uv run python -u commons/export_openapi.py docs/openapi.yaml'
"""

[tasks.generate-lib-api]
description = "docs/openapi.yamlに基づいてlib/apiを作成"
run = "npx orval --config ./frontend/orval.config.cjs"
depends = ["export-openapi"]

[tasks.start-backend]
run = "cd backend && docker compose up -d"
description = "Start backend services using Docker Compose"

[tasks.prepare-db]
run = """
cd backend && docker compose exec -T api \
bash -lc 'uv run python -u manage.py migrate'
"""

[tasks.backend-uv]
description = "Run backend with uv"
run = "cd backend && uv sync"

[tasks.merge-path]
description = "Merge path data"
run = """
cd backend && docker compose exec -T api bash -lc 'uv run python -u paths/merge.py'
"""
depends = ["prepare-db"]

[tasks.import-mountain-data]
description = "Import mountain data"
run = """cd backend && docker compose exec -T api \
bash -lc 'uv run python -u commons/import_mountains.py'
"""
depends = ["prepare-db"]

[tasks.import-path-data]
description = "Import path data"
run = """
cd backend
docker compose exec -T api bash -lc 'uv run python -u commons/import_paths.py --workers 16'
docker compose exec -T api bash -lc 'uv run python -u commons/update_paths.py --workers 16'
"""
depends = ["prepare-db"]

[tasks.delete-path-data]
description = "Delete path data"
run = """
cd backend && docker compose exec -T api bash -lc 'uv run python -u commons/delete_paths.py'
"""
depends = ["prepare-db"]

[tasks.import-bear-sight]
description = "Import bear sighting data"
run = """cd backend && docker compose exec -T api \
bash -lc 'uv run python -u commons/import_bear_sight.py'
"""
depends = ["prepare-db"]

[tasks.frontend-setup]
run = "cd frontend && pnpm install && docker compose up -d"

[tasks.frontend-dev]
run = "cd frontend && pnpm dev"
depends = ["frontend-setup"]
